<!-- Html page to view stored tweets -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tweets Page</h1>
    <h2> Tweets created for class</h2>

<!-- Display message data -->
    <p>{{message}}</p>

<!-- Ginga that will run a python for loop -->
    {% if tweets %}
        <ul>
        {% for tweet in tweets %}
            <li>{{ tweet.tweet }}</li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Tweets not found.</p>
    {% endif %}

</body>
</html>
